.movieCard {
  list-style: none;
  font-size: 1.2rem;
  text-align: center;
}


.movieImage {
  border-radius: 10px;
  background-color: azure;
}

.movieImage:hover {
  transform: scale(1.1);/*(1.1 escala de crecimiento=110%)*/
  border:1px solid #e8eaee;
  box-shadow: 0px 0px 50px #666;/*no se para que es*/
}

@media (max-width: 560px) {
  .movieImage {
    width: 90%;
    height: auto;
    display:block;
    margin:auto;
  }
}
